
body {
    margin: 0;
    background-color: #F7F9FA;
    font-family: "Montserrat Alternates", serif;
    color: #34495E;
}
main{
    padding-top: 80px;
    min-height: calc(100vh - 161px);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgb(241, 235, 235);
    box-shadow: 0 3px 5px rgb(69, 67, 67);
    margin-top: 10px;
    border-radius: 10px;
    
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.navbar nav{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;

}
.navbar nav a{
    text-decoration: none;
    color: #2C3E50;
}

.navbar a:hover {
    color: #1ABC9C;
  }

header .home-button {
    font-size: 25px;
    text-decoration: none;  
    color: #2C3E50
}
header{
    left: 50%;
    position: fixed;
    z-index: 1;
    transform: translateX(-50%);
    max-width: 800px;
    width: 100%;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
}
.tabela_contato{
    border: 2px solid gray;
    text-align: left;
}
.tabela_contato tr:nth-child(odd){
    background-color: gray;
}
footer {
    text-align: center;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Itens empilhados verticalmente */
    width: 100%;
    background-color: #1a1a2e; /* Azul-escuro */
    color: #ffffff; /* Texto branco */
    padding: 20px; /* Espaçamento interno */
    font-size: 14px; /* Tamanho do texto */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Sombra leve */
}

footer a.links {
    color: #f5a623; /* Cor de destaque para links (laranja suave) */
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer a.links:hover {
    color: #ffffff; /* Link muda para branco ao passar o mouse */
}
footer a.home-button{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}
